body {
  margin: 0;
  background: #f0ebf8;
  font-family: arial;
}

form {
  margin: auto;
  width: 640px;
  position: relative;
}

.eleGroup {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 12px;
  padding: 24px;
}

.person {
  display: flex;
}
input[type="name"], input[type="email"] {
  border: 2px solid #868686;
  padding: 5px;
  margin: 10px 20px 10px 0;
  width: 50%;
}

input[type="checkbox"] {
  margin: 5px 10px 5px 0;
  vertical-align: middle;
}